body 
{
    color: rgb(19, 18, 18);
    text-align: center;
    font-family: "Arial";
    font-size: 30px;
    margin: 0;
    padding: 00;
}

#cabecera

{
background-color: rgb(40, 37, 161);
box-shadow: darkcyan;
color: rgb(22, 22, 22);
margin: 10;
padding: 0.5em;

}

#cabecera #tagline

{

 max-width: 0 0 0 1em; 
 font-weight: normal; 
 font-size: 0.8;
 color: rgb(119, 6, 6);
}
#container

{
width: 70%;
padding: 2em;
text-align: left;
border: 5px orangered;
margin: 1;

}
#container h1
{
    font-size: 50px;
}
#post
{
    padding: 0em;
}