body 
{
    color: rgb(12, 11, 11);
    text-align: center;
    font-family: "Arial";
    font-size: 30px;
    margin: 1 cm;
    padding: 0;
}

#cabecera
{
background-color: rgb(103, 161, 37);
box-shadow: rgba(252, 15, 7, 0.959);
color: rgb(253, 251, 251);
margin: 1;
padding: 0.5em;
}

#cabecera #tagline
{
 max-width: 0 0 0 1em; 
 font-weight: medium; 
 font-size: 0.8;
 color: black;
}
#container
{
width: 70%;
padding: 2em;
text-align: left;
border: 5px orangered;
margin: 1;

}
#container h1
{
    font-size: 50px;
}
#post
{
    padding: 0em;
}