body 
{
    background: rgb(0, 132, 255);
    color: rgb(194, 9, 9);
    text-align: center;
    font-family: "Arial";
    font-size: 25px;
    margin: 0 cm;
    padding: 0;
}

#Cabecera
{
    background: rgb(166, 245, 166);
    box-shadow: 0px 2px 20px 0px rgb(0,0,0,0.5);
    color: rgb(2, 0, 0);
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#Cabecera #logo
{
    width: 50px;
    vertical-align: middle;
}   

#Cabecera #tagline
{
    margin: 0 0 0 2em; 
    font-weight: normal;
    font-size: 0.8;
    color: rgb(17, 17, 17);
}

#container
{
    width: 70%;
    padding: 2em;
    text-align: left;
    border: 5px orangered;
    margin: 0 auto;
}

#container h1
{
    font-size: 50px;
}
#post
{
    background: honeydew;
    padding: 0em;
}